@import 'normalize.less';
@import 'solarized.less';

html, body {
    .solarized-light();
}

.outlist {
    button {
        .solarized-dark();
        border: none;
        height: 1.5rem;
        line-height: 1.3rem;
        font-size: 1rem;
        margin: 0 2px;
        padding: 0 4px;
        font-weight: bold;
    }
    
    .list {
        margin-left: 1rem;
        border-left: 1px solid silver;
        border-top: 1px solid silver;
        background-color: @base2;
        color: @base02;
    }

    .hover-active {
        background-color: darken(@base2, 20%);
    }

    .mono {
        font-family: monospace;
    }

    // debugging
    .col {
        float: left;
    }

    .col.left,
    .col.right {
        width: 50%;
    }

    pre {
        margin: 0;
        font-size: 0.7rem;
    }
}